<link rel="stylesheet" href="class=""navbar.css"> <!-- Navbar CSS -->
<!-- Navbar Component -->
<nav class="bottom-navbar">
  <ul>
    <li><a href="#"><img src="/assets/shorts.png" alt="Shorts"><span>Shorts</span></a></li>
    <li><a href="#search"><img src="/assets/search.png" alt="Search"><span>Search</span></a></li>
    <li><a href="#explore"><img src="/assets/explore.png" alt="Explore"><span>Explore</span></a></li>
    <li><a href="#notifications"><img src="/assets/notification.png" alt="Notifications"><span>Notifications</span></a></li>
    <li><a href="#profile"><img src="assets/profile.png" alt="Profile"><span>Profile</span></a></li>
  </ul>
</nav>
