.notifications-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#search-input {
  width: 80%;
  max-width: 400px;
  height: 20px;
  padding: 3px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
}

.notification-icon img {
  width: 24px;
  height: 24px;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.bottom-navbar {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.bottom-navbar li {
  text-align: center;
}

.bottom-navbar a {
  color: #000;
  text-decoration: none;
}

.bottom-navbar img {
  width: 24px;
  height: 24px;
}

.bottom-navbar span {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.hidden {
  display: none !important;
}