/* Styling for the notifications container and tabs */
.notifications-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: none; /* Remove border-bottom */
    background: transparent; /* Remove background color */
}

.tab-button {
    background: transparent; /* Remove background color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: color 0.3s;
}

.tab-button.active {
    color: #007bff;
    font-weight: bold;
}

.tab-button:focus {
    outline: none;
}

.tab-content {
    flex-grow: 1;
    display: none;
}

.tab-content.active {
    display: block;
}

/* Styling for the bottom navbar */
.bottom-navbar {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.bottom-navbar li {
    text-align: center;
}

.bottom-navbar a {
    color: #000; /* Change link color to black */
    text-decoration: none; /* Remove underline from links */
}

.bottom-navbar img {
    width: 24px;
    height: 24px;
}

.bottom-navbar span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}